<div class="col-md-6">
  <h1><%= @movie["Title"] %></h1>
  <p><strong>Year:</strong> <%= @movie["Year"] %></p>
  <p><strong>Plot:</strong> <%= @movie["Plot"] %></p>
  <p><strong>Runtime:</strong> <%= @movie["Runtime"] %></p>
  <p><strong>Genre:</strong> <%= @movie["Genre"] %></p>
  <p><strong>Language:</strong> <%= @movie["Language"] %></p>
  <p><strong>Actors:</strong> <%= @movie["Actors"] %></p>
  <p><strong>IMDB Rating:</strong> <%= @movie["imdbRating"] %></p>
</div>
